<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="1Source-Automation" verbose="2" parallel="false">
	<listeners>
		<listener class-name="com.statravel.base.StaNGlistener" />
	</listeners>
	<test name="Test">
		<classes>
		 <class name="com.statravel.runners.TestRunner" />		
		</classes>
	</test>
</suite>